
#### Arbitrary Value Imputation

this technique was derived from kaggle competition It consists of replacing NAN by an arbitrary value

In [1]:
import pandas as pd

df = pd.read_csv("train.csv",usecols=['Age','Fare','Survived'])
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [2]:
def impute(df,variable):
    df[variable+'_zero']=df[variable].fillna(0)
    df[variable+'_hundred']=df[variable].fillna(100)

impute(df,'Age')
df.head()

In [5]:
df.Age_zero.isnull().sum()

0


#### Advantages

    Easy to implement
    Captures the importance of missingess if there is one

#### Disadvantages

    Distorts the original distribution of the variable
    If missingess is not important, it may mask the predictive power of the original variable by distorting its distribution
    Hard to decide which value to use

#### How To Handle Categroical Missing Values

##### Frequent Category Imputation

In [6]:
df = pd.read_csv('loan.csv',usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [7]:
df.isnull().sum()

BsmtQual        37
FireplaceQu    690
GarageType      81
SalePrice        0
dtype: int64

In [8]:
df.isnull().mean()

BsmtQual       0.025342
FireplaceQu    0.472603
GarageType     0.055479
SalePrice      0.000000
dtype: float64

In [10]:
df.shape

(1460, 4)

In [11]:
# if we the shape of the data set we see we have Bsmt Qual and Garagetype as very low no of Nan Values
#so we can replace it with most frquent values won't distort the distribution

#### Compute the frequency

In [12]:
df.groupby(['BsmtQual'])['BsmtQual'].count()

BsmtQual
Ex    121
Fa     35
Gd    618
TA    649
Name: BsmtQual, dtype: int64

In [13]:
df.groupby(['FireplaceQu'])['FireplaceQu'].count()

FireplaceQu
Ex     24
Fa     33
Gd    380
Po     20
TA    313
Name: FireplaceQu, dtype: int64

In [14]:
df.groupby(['GarageType'])['GarageType'].count()

GarageType
2Types       6
Attchd     870
Basment     19
BuiltIn     88
CarPort      9
Detchd     387
Name: GarageType, dtype: int64

In [ ]:
#now we know the most occuring category in every features 
#now we need to get the index of most occuring feature

In [15]:
#so we got TA as the maximum occuring with frequency of 649
#hence we replace the NAN values with the TA in BsmtQual

def replace(df,variable):
    most_frequent = df[variable].value_counts().index[0]
    df[variable].fillna(most_frequent,inplace = True)

In [16]:
for feature in ['BsmtQual','FireplaceQu','GarageType']:
    replace(df,feature)

In [18]:
df.isnull().mean()

BsmtQual       0.0
FireplaceQu    0.0
GarageType     0.0
SalePrice      0.0
dtype: float64

In [19]:
### See we have replaced all the categorial datas having Nan values with most occuring values from each category.


#### Advantages
       Easy To implement
       Faster way to implement 
#### Disadvantages
      Since we are using the more frequent labels, it may use them in an over respresented way, if there are many nan's
      It distorts the relation of the most frequent label

### Adding a variable to capture NAN

In [20]:
df=pd.read_csv('loan.csv', usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [22]:
import numpy as np

df['BsmtQual_var'] = np.where(df['BsmtQual'].isnull(),1,0)
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_var
0       Gd         NaN     Attchd     208500             0
1       Gd          TA     Attchd     181500             0
2       Gd          TA     Attchd     223500             0
3       TA          Gd     Detchd     140000             0
4       Gd          TA     Attchd     250000             0

In [23]:
# Here we created a new feature BsmtQual_var

In [29]:
# Now getting the most frequently occuring value in bsmtQual

frequent = df['BsmtQual'].mode()[0]

In [30]:


df['BsmtQual'].fillna(frequent,inplace=True)

df.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_var
0       Gd         NaN     Attchd     208500             0
1       Gd          TA     Attchd     181500             0
2       Gd          TA     Attchd     223500             0
3       TA          Gd     Detchd     140000             0
4       Gd          TA     Attchd     250000             0

In [31]:
df['FireplaceQu_Var']=np.where(df['FireplaceQu'].isnull(),1,0)
frequent=df['FireplaceQu'].mode()[0]
df['FireplaceQu'].fillna(frequent,inplace=True)

In [32]:
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_var  FireplaceQu_Var
0       Gd          Gd     Attchd     208500             0                1
1       Gd          TA     Attchd     181500             0                0
2       Gd          TA     Attchd     223500             0                0
3       TA          Gd     Detchd     140000             0                0
4       Gd          TA     Attchd     250000             0                0

#### Suppose if you have more frequent categories, we just replace NAN with a new category

Most frequently used

In [33]:
df=pd.read_csv('loan.csv', usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [34]:
def impute_Nan(df,variable):
    df[variable+"newVar"] = np.where(df[variable].isnull(),'Missing',df[variable])

In [35]:
for feature in ['BsmtQual','FireplaceQu','GarageType']:
    impute_Nan(df,feature)

In [36]:
df.head()

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQualnewVar,FireplaceQunewVar,GarageTypenewVar
0,Gd,NaN,Attchd,208500,Gd,Missing,Attchd
1,Gd,TA,Attchd,181500,Gd,TA,Attchd
2,Gd,TA,Attchd,223500,Gd,TA,Attchd
3,TA,Gd,Detchd,140000,TA,Gd,Detchd
4,Gd,TA,Attchd,250000,Gd,TA,Attchd

In [37]:
df =df.drop(['BsmtQual','FireplaceQu','GarageType'],axis = 1)
df.head()

   SalePrice BsmtQualnewVar FireplaceQunewVar GarageTypenewVar
0     208500             Gd           Missing           Attchd
1     181500             Gd                TA           Attchd
2     223500             Gd                TA           Attchd
3     140000             TA                Gd           Detchd
4     250000             Gd                TA           Attchd